<div class="drawer"
     data-controller="drawer drawer-resize"
     data-drawer-previous-url-value="<%= @previous_url %>"
     data-drawer-confirm-value="<%= @confirm %>"
     data-drawer-confirm-message-value="<%= @confirm_message %>"
     >
  <div class="overlay" data-action="click->drawer#close"></div>
  <div class="body <%= @size %>" data-drawer-resize-target="body">
    <div class="resize-handle"
         data-drawer-resize-target="handle"
         data-action="mousedown->drawer-resize#startResize"></div>
    <%= turbo_frame_tag 'drawer-frame' do %>
      <% if content.present? %>
        <%= content %>
      <% else %>
        <p>Loading ...</p>
      <% end %>
    <% end %>
  </div>
</div>
