<h1>
  <%= link_to 'Animals', animals_path %>
</h1>

<table class="animals-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Family</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.id %></td>
        <td>
          <%= link_to_drawer animal.name, animal_path(animal), advance: true %>
        </td>
        <td><%= animal.family %></td>
        <td>
          <%= link_to_drawer 'Edit', animal_path(animal, option: :edit), advance: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @animal.present? %>
  <% if @edit %>
    <%= render AnimalFormDrawerComponent.new(animal: @animal) %>
  <% else %>
    <%= render AnimalDrawerComponent.new(animal: @animal) %>
  <% end %>
<% end %>
