<h1>
  <%= link_to 'Animals', animals_path %>
  [
  <%= link_to_drawer 'New', new_animal_path, advance: false, confirm: true, confirm_message: 'Are you sure you stop creating a new animal?' %>
  ]
</h1>

<table class="animals-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Family</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="animals-list">
    <% @animals.each do |animal| %>
      <%= render 'animal_row', animal: animal %>
    <% end %>
  </tbody>
</table>

<% if @animal.present? %>
  <% if @edit %>
    <%= render AnimalFormDrawerComponent.new(animal: @animal, size: :medium) %>
  <% else %>
    <%= render AnimalDrawerComponent.new(animal: @animal, size: :large) %>
  <% end %>
<% end %>
