<h1>
  <%= link_to 'Animals', animals_path %>
</h1>

<table class="animals-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Family</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.id %></td>
        <td>
          <%= link_to animal.name, animal_path(animal), data: { turbo_frame: 'drawer' } %>
        </td>
        <td><%= animal.family %></td>
        <td>
          <%= link_to 'Edit', animal_path(animal, option: :edit), data: { turbo_frame: 'drawer' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= turbo_frame_tag "drawer", data: { turbo_action: 'advance' } do %>
  <% if @animal.present? %>
    <% if @edit %>
      <%= render DrawerComponent.new(title: 'Edit Animal') do %>
        <div>FORM COMING SOON</div>
      <% end %>
    <% else %>
      <%= render DrawerComponent.new(title: 'Animal Details') do %>
        <%= render 'animal' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
