<h1>Animals</h1>

<table class="animals-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Family</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.id %></td>
        <td>
          <%= link_to animal.name, animal_path(animal), data: { turbo_frame: 'drawer' } %>
        </td>
        <td><%= animal.family %></td>
        <td>
          <%= link_to 'Edit', '#' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= turbo_frame_tag "drawer" do %>
  <% if @animal.present? %>
    <%= render 'drawer' %>
  <% end %>
<% end %>
