<!DOCTYPE html>
<html>
  <head>
    <%= render "head" %>
  </head>

  <body>
    <% if flash.any? %>
      <div class="alerts">
        <% flash.each do |type, message| %>
          <div class="alert <%= "alert-#{type}" %>">
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    <template id="drawer-template">
      <%= render DrawerFrameComponent.new(animate: true) %>
    </template>

    <dialog id="turbo-confirm">
      <form method="dialog">
        <p>Are you sure?</p>
        <button value="confirm">Confirm</button>
        <button value="cancel">Cancel</button>
      </form>
    </dialog>

    <div id="toasts"></div>
  </body>
</html>
